# Capstone DS Course
## Emet Flores
### Week 05 - Final Assignment
### Part 02_2 - Get available data
### Notes:
 - Get additional geo-demographic data for San Diego Zip Codes
 - Using Zip-Codes.com API
 https://www.zip-codes.com/zip-code-api.asp
 - Create File

In [1]:
# Import necesary libraries
import pandas as pd
import json # library to handle JSON files
import requests # library to handle requests

In [2]:
# Get our target San Diego Zip codes that we processed and documented in a CSV file

San_Diego_codes = pd.read_csv ('SD_Metro_Zipcodes.csv', sep = ',', index_col=0)

San_Diego_codes.head()

   PostalCode  Neighborhood
0       91901        Alpine
1       91902        Bonita
2       91905     Boulevard
3       91906         Campo
4       91910   Chula Vista

In [3]:
# Count the number of target Zip codes 
San_Diego_codes.shape

(107, 2)

In [96]:
# Test the API
# To get additional information from Zip-Codes.com
# API request url is as follows
# https://api.zip-codes.com/ZipCodesAPI.svc/1.0/GetZipCodeDetails/90210?key=DEMOAPIKEY

# create the API request URL
single_zip = 90210
api_key = 'DEMOAPIKEY'
zip_url = 'https://api.zip-codes.com/ZipCodesAPI.svc/1.0/GetZipCodeDetails/{}?key={}'.format(single_zip,api_key)

# make the GET request
get_zip_detail = requests.get(zip_url).json()['item']

In [97]:
# Prepare to add information to a dataframe
sd_zip_details = pd.DataFrame(columns=['ZipCode', 
                                       'ZipCodePopulation', 'HouseholdsPerZipcode',
                                       'WhitePop', 'BlackPop','HispanicPop','AsianPop','IndianPop','HawaiianPop','OtherPop',
                                       'MalePop','FemalePop',
                                       'PersonsPerHousehold',
                                       'AverageHouseValue','IncomePerHousehold',
                                       'MedianAge','AverageFamilySize',
                                       'Latitude','Longitude',
                                       'AreaLand','AreaWater',
                                       'City','CountyName'])

In [98]:
# Get data that is relevant for our analisys

record_append = []

record_append = [single_zip, 
            int(get_zip_detail['ZipCodePopulation']), 
            int(float(get_zip_detail['HouseholdsPerZipcode'])), 
            int(get_zip_detail['WhitePop']),
            int(get_zip_detail['BlackPop']),
            int(get_zip_detail['HispanicPop']),
            int(get_zip_detail['AsianPop']),
            int(get_zip_detail['IndianPop']),
            int(get_zip_detail['HawaiianPop']),
            int(get_zip_detail['OtherPop']),
            int(get_zip_detail['MalePop']),
            int(get_zip_detail['FemalePop']),
            float(get_zip_detail['PersonsPerHousehold']),
            float(get_zip_detail['AverageHouseValue']),
            float(get_zip_detail['IncomePerHousehold']),
            float(get_zip_detail['MedianAge']),
            float(get_zip_detail['AverageFamilySize']),
            float(get_zip_detail['Latitude']),
            float(get_zip_detail['Longitude']),
            float(get_zip_detail['AreaLand']),
            float(get_zip_detail['AreaWater']),
            get_zip_detail['City'],
            get_zip_detail['CountyName']]

df_length = len(sd_zip_details)
sd_zip_details.loc[df_length] = record_append

In [101]:
# Review API test data
sd_zip_details.head()

,ZipCode,ZipCodePopulation,HouseholdsPerZipcode,WhitePop,BlackPop,HispanicPop,AsianPop,IndianPop,HawaiianPop,OtherPop,...,AverageHouseValue,IncomePerHousehold,MedianAge,AverageFamilySize,Latitude,Longitude,AreaLand,AreaWater,City,CountyName
0,90210,21741,8669,19761,471,1092,1966,80,55,387,...,2000000.0,149732.0,47.5,3.06,34.103131,-118.416253,10.126,0.061,BEVERLY HILLS,LOS ANGELES

In [102]:
# Now we update our API credentials
# These credentials will be removed from the notebook after we get the data 
api_key = 'XXXXXXXXXXXXXXXX'

In [103]:
# We iterate our API request for each of the 
# tested som test_zips = [91901, 91902, 91905] first
# for i in test_zips:

for i in San_Diego_codes['PostalCode']:
    # Print zipcode so we can review API progress
    print(i)
    zip_url = 'https://api.zip-codes.com/ZipCodesAPI.svc/1.0/GetZipCodeDetails/{}?key={}'.format(i,api_key)
    
    # make the GET request
    get_zip_detail = requests.get(zip_url).json()['item']
    
    # Populate the information into our DataFrame
    record_append = []

    record_append = [i, 
            int(get_zip_detail['ZipCodePopulation']), 
            int(float(get_zip_detail['HouseholdsPerZipcode'])), 
            int(get_zip_detail['WhitePop']),
            int(get_zip_detail['BlackPop']),
            int(get_zip_detail['HispanicPop']),
            int(get_zip_detail['AsianPop']),
            int(get_zip_detail['IndianPop']),
            int(get_zip_detail['HawaiianPop']),
            int(get_zip_detail['OtherPop']),
            int(get_zip_detail['MalePop']),
            int(get_zip_detail['FemalePop']),
            float(get_zip_detail['PersonsPerHousehold']),
            float(get_zip_detail['AverageHouseValue']),
            float(get_zip_detail['IncomePerHousehold']),
            float(get_zip_detail['MedianAge']),
            float(get_zip_detail['AverageFamilySize']),
            float(get_zip_detail['Latitude']),
            float(get_zip_detail['Longitude']),
            float(get_zip_detail['AreaLand']),
            float(get_zip_detail['AreaWater']),
            get_zip_detail['City'],
            get_zip_detail['CountyName']]

    df_length = len(sd_zip_details)
    sd_zip_details.loc[df_length] = record_append

91901
91902
91905
91906
91910
91911
91913
91914
91915
91916
91917
91931
91932
91934
91935
91941
91942
91945
91948
91950
91962
91963
91977
91978
91980
92003
92004
92007
92008
92009
92010
92011
92014
92019
92020
92021
92024
92025
92026
92027
92028
92029
92036
92037
92040
92054
92055
92056
92057
92058
92059
92060
92061
92064
92065
92066
92067
92069
92070
92071
92075
92078
92081
92082
92083
92084
92086
92091
92101
92102
92103
92104
92105
92106
92107
92108
92109
92110
92111
92113
92114
92115
92116
92117
92118
92119
92120
92121
92122
92123
92124
92126
92127
92128
92129
92130
92131
92132
92134
92135
92139
92140
92145
92147
92154
92155
92173

In [104]:
# Review the obtained data  
sd_zip_details.head(10)

,ZipCode,ZipCodePopulation,HouseholdsPerZipcode,WhitePop,BlackPop,HispanicPop,AsianPop,IndianPop,HawaiianPop,OtherPop,...,AverageHouseValue,IncomePerHousehold,MedianAge,AverageFamilySize,Latitude,Longitude,AreaLand,AreaWater,City,CountyName
0,90210,21741,8669,19761,471,1092,1966,80,55,387,...,2000000.0,149732.0,47.5,3.06,34.103131,-118.416253,10.126,0.061,BEVERLY HILLS,LOS ANGELES
1,91901,17403,6345,15466,315,2644,564,743,101,856,...,525700.0,90397.0,41.9,3.10,32.789915,-116.711202,89.261,0.781,ALPINE,SAN DIEGO
2,91902,17653,5956,12379,757,7326,2481,272,217,2596,...,607100.0,92759.0,43.2,3.26,32.678550,-117.013671,8.707,0.297,BONITA,SAN DIEGO
3,91905,1700,632,1335,76,389,25,189,20,133,...,279900.0,32819.0,46.0,3.06,32.733591,-116.301864,65.814,0.022,BOULEVARD,SAN DIEGO
4,91906,3627,1254,2828,175,1059,66,319,15,409,...,221300.0,49919.0,37.2,3.23,32.702475,-116.504617,105.531,0.715,CAMPO,SAN DIEGO
5,91910,75802,26063,47051,4255,45275,9351,1229,786,17635,...,424700.0,59371.0,35.6,3.40,32.635694,-117.052566,12.233,0.034,CHULA VISTA,SAN DIEGO
6,91911,82999,24622,48709,4063,58816,8051,1208,955,24733,...,361600.0,52274.0,33.5,3.72,32.607009,-117.050286,11.712,0.186,CHULA VISTA,SAN DIEGO
7,91913,40971,12133,21126,3018,18109,12528,428,532,6313,...,451700.0,87440.0,32.0,3.67,32.632497,-116.991164,10.198,0.035,CHULA VISTA,SAN DIEGO
8,91914,15448,4331,8790,912,7140,4153,168,169,2440,...,611700.0,131486.0,34.2,3.78,32.657754,-116.963414,6.294,0.088,CHULA VISTA,SAN DIEGO
9,91915,24659,7070,13808,1853,11016,6974,340,251,3335,...,475000.0,106452.0,31.8,3.69,32.619934,-116.967120,7.606,0.647,CHULA VISTA,SAN DIEGO

In [105]:
# Review shape of our final dataset
# Should have an extra LA zipcode we used for testing purposes = 108
sd_zip_details.shape

(108, 23)

In [106]:
# And finaly save our additional data,
# Since access to the API has limits to the number
# monthly requests under current account type

# Create a simple CSV File with the target zip codes

sd_zip_details.to_csv('SD_Detail_Data_Zipcodes.csv', sep = ',', encoding = 'ANSI')